h1 {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  font-size: xx-large;
}

form {
  margin-top: 25px;
  display: center;
  margin-left: 30px;
  margin-right: 30px;
}

small {
  font-size: smaller;
}

a {
  color: darkblue;
}

span.date {
  margin-left: 30px;
}

span.time {
  margin-left: 30px;
  margin-bottom: 30px;
}

p.introfacts {
  margin-bottom: 5px;
  margin-top: -5px;
  font-weight: 1000;
  font-size: 14px;
}

div.factquote {
  margin-bottom: 10px;
  font-size: small;
  line-height: 1.2;
}
div.card-body-forecast {
  margin: -2px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border: 2px solid white;
  border-radius: 5px;
}

span.card-titles-weekday {
  margin-top: 3px;
  margin-bottom: -5px;
  display: block;
  font-size: 13px;
}

div.card {
  border: 2px solid white;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

span.currenttemp {
  display: inline-block;
  margin-left: 26px;
  margin-top: 10px;
  font-size: 70px;
}

.cLink {
  font-size: medium;
  color: black;
  text-decoration: none;
  position: relative;
  top: -35px;
  font-weight: bold;
}

.weatherDescription {
  margin-left: 30px;
  font-size: 16px;
  margin-top: -20px;
}

.enterlocationbutton {
  border-radius: 4px;
  border: 2px solid #dfe9f3;
  background-color: white;
}

.searchbutton {
  border-radius: 4px;
  border: 2px solid #dfe9f3;
  background-color: white;
  color: black;
}

.currentlocationbutton {
  border-radius: 4px;
  border: 2px solid #dfe9f3;
  background-color: white;
  color: black;
}

.next-button {
  border-radius: 4px;
  border: 1px solid white;
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: -2px;
  font-size: 12px;
  color: black;
}

.mainimagecloude {
  margin-left: 100px;
  margin-right: 70px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 130px;
  padding-bottom: 15px;
  filter: contrast(2.2);
}

.card-img-bottom {
  width: 40px;
  display: block;
  margin: 5px auto;
  filter: contrast(1.9);
}

.card-titles-weekday {
  font-size: medium;
  text-align: center;
  font-weight: bolder;
}
.card-temperature {
  font-size: smaller;
  text-align: center;
}
.forecastrow {
  padding-left: 39px;
  padding-right: 39px;
  margin-bottom: 25px;
  margin-right: 30px;
  margin-top: 20px;
}
.wrapper {
  margin: 10px auto;
  padding: 15px;
  max-width: 700px;
  border: 3px solid #dfe9f3;
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
  color: black;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  margin-bottom: -3px;
}
